{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-magic-numbers": "off",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off"
  },
  "extends": ["eslint:recommended", "prettier"]
}
